  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script> 
  <% } %>
</head>
<body>
  <nav>
    <h1> yikyak </h1>
    <% if (user) { %>
        <i class="fas fa-film fa-2x"></i>
        <a 
          href="/yaks/new" class=<%= title === 'Post Yak' ? 'active' : '' %>
        >
          POST YAK
        </a>
        <a 
          href="/yaks" class=<%= title === 'All Yaks' ? 'active' : '' %>
        >
          ALL YAKS
        </a>
        <a href="/auth/logout" class="right">
          <button type="submit">Logout</button>
        </a>
    <% } else { %>
        <i class="fas fa-film fa-2x"></i>
        <a 
          href="/yaks/new" class=<%= title === 'Post Yak' ? 'active' : '' %>
        >
          POST YAK
        </a>
        <a 
          href="/yaks" class=<%= title === 'All Yaks' ? 'active' : '' %>
        >
          ALL YAKS
        </a>
        <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="filled_black"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
