hi<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/yaks/index.css" />
<%- include('../partials/nav') %>
<main>
  <table id="list">
      <% yaks.forEach((yak) => { %>
      <tr>
        <td id="yak"><%= yak.message %></td>
        <td><%= yak.likes %></td>
        <td><a href="/yaks/<%= yak._id %>">Comments</a></td>
        <td>
          <!-- only want to give creater this view -->
          <form action="/yaks/<%= yak._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        </td>        
        <td><a href="/yaks/<%= yak._id %>">Edit</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>