<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/yaks/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Edit Yak</h1>
  <h1><%= yak.message %></h1>
  <form 
    id="new-form" 
    action="/yaks/<%= yak._id %>?_method=PUT"
    method="POST">
    <label for="message-input">Message:</label>
    <input type="text" name="message" id="message-input" placeholder= "<%= yak.message %>">
    <button type="submit">Update Yak</button>
  </form>
</main>

<%- include("../partials/footer") %>
