<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/yaks/index.css" />
<%- include('../partials/nav') %>

<main>
  <table class="container">
    <tbody>
      <% yaks.forEach(yak => { %>
        <tr class="row">
          <td><%= yak.createdAt.toLocaleDateString() %></td>
          <td><%= yak.createdAt.toLocaleTimeString() %></td>
          <td><%= yak.message %></td>
          <td class="reply-tag"><a href="/yaks/<%= yak._id %>">Replies</a></td>
          <td>
            <% if (user) if (yak.owner._id.equals(user.profile._id)) { %>
              <form action="/yaks/<%= yaks._id %>?_method=DELETE" method="POST">
                <button class="btn" id="delete-btn" type="submit">X</button>
              </form>
            <% } %>
          </td>        
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
