<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/yaks/index.css" />
<%- include('../partials/nav') %>
<main>
  <table class="container">
      <% yaks.forEach((yak) => { %>
      <tr class="row">
        <td><%= yak.createdAt.toLocaleTimeString() %></td>
        <td id=<%= yak.author %>><%= yak.message %></td>
        <td><%= yak.likes %></td>
        <td><a href="/yaks/<%= yak._id %>">Replies</a></td>
        <td>
          <form action="/yaks/<%= yak._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        </td>        
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>

