<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/yaks/index.css" />
<%- include('../partials/nav') %>
<main>
  <table class="container">
    <% for (let i = yaks.length - 1; i > 0; i--){ %>
      <tr class="row">
        <td><%= yaks[i].createdAt.toLocaleDateString() %></td>
        <td><%= yaks[i].createdAt.toLocaleTimeString() %></td>
        <td><%= yaks[i].message %></td>
        <!-- Users will be able to view likes for each Yak here  -->
        <td><%= yaks[i].likes %></td>
        <td class="reply-tag"><a href="/yaks/<%= yaks[i]._id %>">Replies</a></td>
        <td>
          <% if (user) if (yaks[i].owner._id.equals(user.profile._id)) { %>
            <form action="/yaks/<%= yaks[i]._id %>?_method=DELETE" method="POST">
              <button class="reply-btn" id="delete-btn" type="submit">X</button>
            </form>
          <% } %>
        </td>        
      </tr>
    <% } %>
    </tbody>
  </table>
</main>
<%- include('../partials/footer') %>

