<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1>
    <%= yak.message %>
    <%= yak.createdAt.toLocaleDateString() %> 
    <a href="/yaks/<%= yak._id %>/edit">
      <button>Edit Yak</button>
    </a>
  </h1>
  <div> <%= yak.likes.join(', ') %> </div>
  <!-- add likes here -->
  <form 
    id="reply-form"
    action="/yaks/<%= yak._id %>/comments"
    method="POST"
  >
  <label for="reply-form">Reply:</label>
  <textarea name="content" 
    class="form-control form-control-dark"
    id="content-textarea"
    placeholder="Enter Reply Here..."
    autocomplete="off"
    required
  ></textarea>
  <button type="submit" class="btn btn-reply">
    Post Reply
  </button>
</form>
<!-- need to add reply here -->
<% if (yak.comments.length) { %>
  <h2>Replies</h2>
  <table>
    <tbody>
      <% yak.comments.forEach(function(comment) { %>
        <tr>
          <td><%= comment.content %></td>
          <td><%= comment.createdAt.toLocaleDateString() %></td>
          <td><%= comment.createdAt.toLocaleTimeString() %></td>
          <td><%= comment.Likes %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h2>No Replies Yet</h2>
<% } %>

</main>

<%- include('../partials/footer') %>

